<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script src="moment.js"></script>
    <script src="moment-timezone-with-data.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }

        .container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto;
            text-align:center;
        }
    </style>

    <script>
        function aler(){
            var dok = document.getElementById('formMsg')
            dok.setAttribute('action', "/sendMsg?patientId="+document.location.pathname.split('/')[document.location.pathname.split('/').length-1]+
                "&doctorName="+document.location.pathname.split('/')[document.location.pathname.split('/').length-2])
        }
    </script>

</head>
<body onload="aler()">

<div id="container" class="chart_wrap"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    let stats = /*[[${stats}]]*/ null;

    console.log(JSON.stringify(stats));

    let ArrUp = [];
    let ArrDown = [];
    let ArrPulse = [];
    let ArrDate = [];

    for (index = 0; index < stats.length; ++index) {
        ArrUp.push(stats[index].top);
        ArrDown.push(stats[index].bottom)
        ArrPulse.push(stats[index].pulse)
        time = new Date(stats[index].id);
        ArrDate.push(time.getMinutes())
        console.log(new Date(stats[index].id))
    }

    Highcharts.chart('container', {
        title: {
            text: 'Solar Employment Growth by Sector, 2010-2016'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },

        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        xAxis: {
            "categories": ArrDate,
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {

            }
        },

        series: [{
            name: 'Installation',
            data: ArrUp
        }, {
            name: 'Manufacturing',
            data: ArrDown
        }, {
            name: 'Sales & Distribution',
            data: ArrPulse
        },{

        }]

    });

    /*]]>*/
</script>

<form action="/sendMsg" method="post">
    <input type="text" value="06.10.2017 20:12:45" onClick="xCal(this)" onKeyUp="xCal()">
    <input type="text" value="06.10.2017 20:12:45" size="19" onClick="xCal(this)" onKeyUp="xCal()">
    <p><input type="submit"></p>
</form>

<form action="/sendMsg?patientId=" id="formMsg" method="post">
    <p><input type="text" name="text"> text</p>
    <p><input type="text" name="phone"> phone</p>
    <p><input type="submit"></p>
</form>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>