<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }

        .container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto;
            text-align:center;
        }
    </style>
</head>
<body>

<p id="stat">Test Table</p>

<script>
    var tableArr=['<table>'];
    for (i = 1; i < 10; i++){
        tableArr.push('<tr>')
        tableArr.push('<td>'+i+'</td>');
        tableArr.push('<td>'+'Text'+'</td>');
        tableArr.push('</tr>');
    }
    tableArr.push('</table>');
    document.getElementById('stat').innerHTML=tableArr.join('\n')
</script>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>